
<h1>Welcome Faculty to your SR Courses Index Page!</h1>

   <td><%= link_to 'Create a New Course', new_course_path %></td>

<h2>Your Courses</h2>
 
<table>
  <tr>
    <th>Course Name</th>
    <th colspan="2"></th>
  </tr>

  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.name, course %></td>
         <td><%= link_to 'All Courses', course_path(course) %></td>  
         <td><%= link_to 'Delete a Course', course_path(course),
                    method: :delete, data: {confirm: 'Are you sure?'} %> 
                  </td>

    </tr>
  <% end %>
</table>

 





