
<table>
  <tr>
    <th>A Listing of All Courses</th>
  </tr>

  <% @courses.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      
         <td><%= link_to 'Edit a Course', edit_course_path(course) %></td>
    </tr>
  <% end %>
</table>

</table>
 <td><%= link_to 'Back to the Course Index', courses_path %></td>


 
