// Place all the styles related to the assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";


html {
	
	overflow-y: scroll;
}

body {
	
	padding-top: 60px;
}


section {
	
	overflow: auto;

}

textarea {
	
	resize: vertical;
}

.center {
	
	text-align: center;

}

.center h1 {
	
	margin-bottom: 10px;
}


/*typography*/

@import "fontawesome";

@fontAwesomeEotPath: "/assets/fontawesome-webfont.eot";
@fontAwesomeEotPath_iefix: "/assets/fontawesome-webfont.eot?#iefix";
@fontAwesomeWoffPath: "/assets/fontawesome-webfont.woff";
@fontAwesomeTtfPath: "/assets/fontawesome-webfont.ttf";
@fontAwesomeSvgPath: "/assets/fontawesome-webfont.svg#fontawesomeregular";


